{% extends "layout.twig" %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container" style="padding-top: 60px;">
        <h1 class="mt-5">Migration démo</h1>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>

        <h2 class="mt-5">Tous articles</h2>

        <ul>
            {% for post in posts %}
                <li><a href="{{ path_for('posts.view', {slug: post.slug}) }}">{{ post.name }}
                        {% for tag in post.tags %}
                        <span class="badge badge-success">
                            {{ tag.name }}
                        </span>
                        {% endfor %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <hr>

        <h3>Ajouter un article</h3>
        <form action="{{ path_for('posts.index') }}" method="post">
            <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Titre"></div>
            <div class="form-group"><input type="text" class="form-control" name="slug" placeholder="URL"></div>
            <div class="form-group">
                <textarea name="content" id="content" class="form-control" placeholder="Contenu"></textarea>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="tag" placeholder="Tags"></div>
            <div class="form-group"><input type="checkbox" name="online" class="form-group"> En ligne ?</div>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>
    </main>
{% endblock %}