{% extends "layout.twig" %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container" style="padding-top: 60px;">
        <h1 class="mt-5">{{ post.name }}</h1>
    </main>
{% endblock %}